<%= render 'shared/error_messages' %>

<% if @user.created_at? %>
    <div class="form-group">
      <label class="control-label">Avatar</label>
      <p>
        <%= gravatar_for @user, class: 'img-thumbnail' %>
        <a href="http://gravatar.com/emails" class="btn btn-default btn-sm" role="button" target="_blank">change</a>
      </p>
    </div>
<% end %>

<div class="form-group">
  <%= f.label :name, class: 'control-label' %>
  <%= f.text_field :name, class: 'form-control input-lg', placeholder: 'John Doe' %>
</div>

<div class="form-group">
  <%= f.label :email, class: 'control-label' %>
  <%= f.text_field :email, class: 'form-control input-lg', placeholder: 'john@doe.com' %>
</div>

<div class="form-group">
  <%= f.label :password, class: 'control-label' %>
  <%= f.password_field :password, class: 'form-control input-lg', placeholder: '•' * 6 %>
</div>

<div class="form-group">
  <%= f.label :password_confirmation, "Confirmation", class: 'control-label' %>
  <%= f.password_field :password_confirmation, class: 'form-control input-lg', placeholder: '•' * 6 %>
</div>