<% provide(:title, 'All users') %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <%= render 'shared/user_info', user: @user %>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
    <section class="user_avatars" id="follower_avatars">
      <%= render 'shared/followers' %>
    </section>
    <section>
      <%= render 'users/follow_form' %>
    </section>
  </aside>
  <div class="col-md-8">
    <section>
      <h2>All users</h2>

      <%= will_paginate class: 'center' %>

      <div class="users">
        <ul class="media-list col-md-offset-4 col-md-4">
          <%= render @users %>
        </ul>
      </div>
    </section>
  </div>
</div>