<article class="list-group-item" id="<%= feed_item.id %>">
  <aside class="col-md-1">
    <%= link_to gravatar_for(feed_item.user, size: 52), feed_item.user, class: 'pull-left' %>
  </aside>
  <section class="col-md-offset-1">
    <h4 class="list-group-item-heading">
      <%= link_to feed_item.user.name, feed_item.user %>
    </h4>
    <p class="list-group-item-text">
      <%= feed_item.content %>
    </p>
    <span class="list-group-item-text">
      Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
      <% if current_user?(feed_item.user) || is_admin?(current_user) %>
          <%= link_to "delete", feed_item, method: :delete,
                      data: { confirm: 'Are you sure?' },
                      title: feed_item.content,
                      class: 'label label-danger' %>
      <% end %>
    </span>
  </section>
</article>