<% @user ||= current_user %>
<% if current_page?(@user) %>
    <%= gravatar_for(@user, size: 52) %>
    <h1>
      <%= @user.name %>
    </h1>
<% else %>
    <%= link_to gravatar_for(@user, size: 52), user_path(@user) %>
    <h1>
      <%= link_to @user.name, @user %>
    </h1>
<% end %>
<span>
  <%= pluralize(@user.microposts.count, "micropost") %>
</span>